/*------------
 Google Fonts 
----------------- */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lobster&family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500;900&display=swap');
    /* Font Family */
    /* font-family: 'Poppins', sans-serif; */
/*------------
 Google Fonts 
----------------- */
/*-------------
 Common Style
 ---------------*/
body {
    margin: 0 ;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
   
}

/*-------------
 Common Style
 ---------------*/

/*-------------
 Header Section 
 ---------------*/
.header-area {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 50px;
}
.how-watch {
    flex-basis: 45%;
    padding: 111px 20px 0px 60px
}
.how-watch h1 {
    font-size: 54px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}
.how-watch p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 25px;
  

}
.btn-sytle{
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    padding: 16px 25px;
    background: #df1010;
    text-decoration: none;
}
.right-angle {
    margin-left: 3px;
}
.header-img {
    flex-basis: 48%;
    margin:30px 3px 0px 12px;
    overflow: hidden;
}

.header-img img {
    width: 100%;
}
/*-------------
 Header Section End
 ---------------*/

 /*-------------------------
 Main Section > transfer-section
 Main Section > transfer-live
 ----------------------------*/
.transfer-section{
    display: flex;
    padding-top: 80px;
    
    
}
.transfer-menu-section {
    width: 28%;
    margin: 2%;  
}
.menu-section {
    background-color: #161616;
    padding: 20px;
}
.menu-section ul {
    margin: 0;
    padding: 0;
    padding-top: 25px;
}
.menu-section ul li {
  list-style: none;
  padding-bottom: 30px;
}
.menu-section ul li a {
    font-size: 20px;
    font-weight: 500;
    color: #161616;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 10px;
     
}
.menu-section ul li:first-child a {
    background-color: #df1010;
    color: #FFFFFF;
    
}


.transfer-live {
    width: 68%;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 30px 30px
}
.player-transfer {
    border: 1px solid #cbcbcb;
    background-color: #FFFFFF;
    border-radius: 8px;
 
}
.transfer-image {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.middle-text {
    padding: 0 10px;
}
.transfer-image img {
   width: 100%;
}
.transfer-text {
    text-align: center;
}
.transfer-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #161616;
}
.transfer-text p {
    font-size: 16px;
    font-weight: 300;
    color: #4D4D4D;
}

.view-button a {
    display: none;
}
/*-------------
 Main Section End
 ---------------*/
 /*-------------
 Footer Section
 ---------------*/
 #footer-section {
    background-color: #161616;
    margin-top: 100px;
    padding: 140px 0;
 }

 .footer-head h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
   
 }
 .footer-bottom ul {
    display: flex;
    justify-content: center;
 }
 .footer-bottom ul li {
    list-style: none;
    margin-left: 10px;

 }
 .footer-bottom ul li a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #B9B9B9;

} 
.footer-bottom .social-icon {
    text-align: center;
   
}
.footer-bottom .social-icon a{
     text-decoration: none;
    
}

.footer-bottom .social-icon i {
    font-size: 26px;
    margin-left: 10px;
    color: #B9B9B9;
    text-align: center;
    border-radius: 50%;
    
}
hr{
    width: 90%;
    margin: auto;
    border: 1px solid #B9B9B9;
   
}

 /*-------------
 Footer Section End
 ---------------*/


 /*--------------------
 RWD - Different Device
 ------------------*/

  /*-------------
  Moblie Device
 ---------------*/

 @media only screen and (max-width:688px) {
    /* header */
    .header-area {
        flex-direction: column;
    }
    .how-watch h1 {
        font-size: 24px;
    }
    .how-watch .btn-sytle {
        font-size: 18px;
        padding: 8px 12px;
    }

    /* main */
    .transfer-section {
        flex-direction: column;
    }
    .transfer-menu-section {
        width: 100%;
    }
    .transfer-live {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    /* footer */
    .footer-bottom ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
   }
   
 }

 /*-------------
  Tablet Device
 ---------------*/

 @media only screen and (min-width:689px) and (max-width:992px){
    /* header */
    .header-area {
        flex-direction: column;
    }
    .how-watch h1 {
        font-size: 30px;
    }
    .how-watch p {
        padding-right: 50px;
    }
    .btn-sytle {
        padding: 12px 15px;
    }
    /*Main*/
    .transfer-section {
       flex-direction: column;
      
    }
    .menu-section {
        padding: 0;
        background-color: transparent;
     }
     .menu-section ul {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-between;
         padding: 0;
         margin: 0;
    
     }
     .menu-section ul li a {
         font-size: 16px;
         padding: 12px 15px;
       }
    
     .transfer-menu-section {
         width: 100%;
         margin: auto; 
     }
   
    .transfer-live {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
  
    .view-button a {
        font-size: 20px;
        font-weight: 300;
        color: #FFFFFF;
        padding: 16px 25px;
        background: #df1010;
        text-decoration: none;
        border-radius: 6px;
        display: block;
        width: 15%;  
        margin: auto;    
        margin-top: 70px; 
        text-align: center;
    }
    /* footer */
    .footer-bottom ul {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        align-items: center;
        
   }
   .footer-bottom ul li {
    margin: 30px 20px 8px 20px ;
   }
 }